altgraph==0.17.3
asttokens==2.4.0
backcall==0.2.0
biopython==1.81
decorator==5.1.1
docopt==0.6.2
executing==1.2.0
greenlet==2.0.2
ipython==8.15.0
jedi==0.19.0
matplotlib-inline==0.1.6
nodeenv==1.8.0
numpy==1.25.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
primer3-py==2.0.1
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyright==1.1.326
six==1.16.0
SQLAlchemy==2.0.21
stack-data==0.6.2
traitlets==5.10.0
typing_extensions==4.8.0
wcwidth==0.2.6
