---
name: "pre-release"

on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "*"

jobs:
  gh_pre_release:
    runs-on: "windows-latest"
    steps:
      - name: Get current date
        id: date
        run: |
          getdate.bat >> $GITHUB_ENV

      - name: "Checkout source code"
        uses: "actions/checkout@v3"
        with:
          lfs: true
          fetch-depth: 0
          submodules: true

      - name: "Setup Python for Building"
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.4'
          cache: 'pip' # caching pip dependencies

      - run: pip install -r requirements.txt
      - run: python -m PyInstaller -p cbr cbrtools.py

      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          directory: dist
          filename: "cbr-tools-extra-${{ env.date }}-win64.zip"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.RELEASE_ACCESS_TOKEN }}"
          prerelease: true
          automatic_release_tag: "nightly-${{ env.date }}"
          title: "Nightly Build ${{ env.date }}"
          files: "cbr-tools-extra-${{ env.date }}-win64.zip"